---

remote_user: ${remote_user}

cluster_name: "wp_cluster"
os_download_url: https://artifacts.opensearch.org/releases/bundle/opensearch
admin_password: 4265839
kibanaserver_password: 488168575
vector_password: vector
systemctl_path: /etc/systemd/system

